p {
	font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1200 - 320)));
	margin-bottom: 12px;
	letter-spacing: .6px;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 5px;
}

.title {
	font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (1200 - 320)));
	
	@include media-breakpoint-up(lg) {
		font-size: 28px;
	}
}

.section-title {
	font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
	
	@include media-breakpoint-up(lg) {
		font-size: 30px;
	}
}

.subtitle {
	font-size: calc(13px + (15 - 13) * ((100vw - 320px) / (1200 - 320)));
	opacity: .8;
	
	@include media-breakpoint-up(lg) {
		font-size: 15px;
	}
}

pre {
	background: $pre-bg;
	border: 2px solid $pre-border-color;
	padding: $spacer;
	border-radius: $border-radius;
}