// Carousel 
.carousel {

	.carousel-indicators {
		bottom: -60px;

		li {
			@include circle(10);
			box-shadow: inset 1px 1px 10px rgba($gray-500,.3),inset -1px -1px 7px rgba($gray-500,.3);

			&.active {
				box-shadow: 0 0 5px rgba($gray-600,.3);
			}
		}
	}
}
