.page-footer {
	background: lighten($gray-200,4%);

	.row {
		height: 100px;
	}

	p {
		margin-bottom: 0;
	}

	.socials {
		max-width: 210px;
		margin-left: auto;

		.social-item{
			margin-left: auto;
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 20px 0;
		.row {
			text-align: center;

			.socials {
				margin: auto;
			}
		}
			
	}
}