.section {
	position: relative;
	padding: 5rem 0;

	&:nth-child(even) {
		background: lighten($gray-200, 5%);
	}

	&.bg-white {
		background-color: $white;
	}

	&.bg-gray {
		background: lighten($gray-200, 5%); 
	}
}